{
  "address": "127.0.0.1",
  "port" : 8000,
  "targets" : [
    {
      "address" : "192.168.1.100",
      "port": 80,
       "health_check_endpoint": "/healthcheck"
    },
    {
      "address" : "192.168.1.1001",
      "port": 80,
       "health_check_endpoint": "/healthcheck"
    }
  ]
}